# Ignorar todos os arquivos e pastas dentro do diretório .terraform
.terraform/
.terraform.lock.hcl

# Ignorar arquivos de estado do Terraform
*.tfstate
*.tfstate.backup

# Ignorar arquivos de plano do Terraform

